<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link th:href = "@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href = "@{/css/style.css}" rel="stylesheet">
    <script type="text/javascript" th:src = "@{/js/script.js}"></script>
</head>
<body>
 <div align="center">
     <h1>Home</h1>
     <table class = "table table-striped table-responsive-md">
         <thead>
            <tr>
                <th>id</th>
                <th>titulo</th>
                <th>contenido</th>
                <th>categoria</th>
                <th>fecha</th>
            </tr>
         </thead>
         <tbody>
            <tr th:each="blog : ${listBlog}">
                <td th:text="${blog.titulo}"></td>
                <td th:text="${blog.contenido}"></td>
                <td th:text="${blog.categoria}"></td>
                <td th:text="${blog.fecha}"></td>
            </tr>
         </tbody>
     </table>
 </div>
</body>
</html>