<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: html_head"/>
<body>
<div th:replace="fragments :: header"></div>
<main class="container">
 <h2 th:text="${post.titulo}" class="mt-4 mb-4"></h2>
    <div class="col-12 border-bottom">
        <p class="text-secondary">[[${post.fecha.getDayOfMonth()}]]/[[${post.fecha.getMonthValue()}]]/[[${post.fecha.getYear()}]]</p>
        <p class="text-secondary">Categoria: [[${post.categoria.getName()}]]</p>
    </div>
    <h5 th:text="${post.contenido}" class="mt-4 bg-light"></h5>
</main>
<div th:replace="fragments :: footer"></div>
</body>
</html>